include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/fototeca *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/fototeca/migration *.ini *.py *.mako
